--- 
layout: default 
---

<article class="home" id="content-main" role="article">

    <p>Se você instalou um tema em sua loja e está com dúvidas ou problemas, fique tranquilo, iremos te ajudar. Veja abaixo nossos artigos:</p>
    
    <div class="post-list">
        {% assign sorted_posts = site.posts | sort:"order" %} 

        {% for post in sorted_posts %}
            <div class="post-link">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2>{{ post.title }}</h2>
                </a>
                
                {% if post.description %}
                    <span>{{ post.description }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <p>Não encontrou o que procurava? Nenhum artigo te ajudou? <a href="http://atendimento.tray.com.br/hc/pt-br" target="_blank">Então clique e fale com a gente</a></p>

</article>
