<footer class="site-footer" role="contentinfo" id="site-footer">
    <div class="container">
        <div class="logos">
            <a href="https://www.tray.com.br/" target="_blank">
                <svg>
                    <use xlink:href="#traycommerce"/>
                </svg>
            </a>
            <a href="http://www.locaweb.com.br/" target="_blank">
                <svg>
                    <use xlink:href="#locaweb"/>
                </svg>
            </a>
        </div>
        <div class="about">
            <p>Tray Temas. Todos os direitos reservados. Proibida reprodução total ou parcial.</p>
        </div>
    </div>
</footer>