<footer class="site-footer" role="contentinfo" id="site-footer">
    <div class="container">
        <div class="logos">
            <a href="https://www.tray.com.br/" target="_blank">
                <svg>
                    <use xlink:href="#traycommerce"/>
                </svg>
            </a>
            <a href="http://www.locaweb.com.br/" target="_blank">
                <svg>
                    <use xlink:href="#locaweb"/>
                </svg>
            </a>
        </div>
        <div class="about">
            <p>Tray Temas. Todos os direitos reservados. Proibida reprodução total ou parcial. Preços e estoque sujeito a alterações sem aviso prévio | 05.800.832/0001-06 - Tray Temas - Rua Melo Alves. 347 - Cerqueira Cesar - CEP: 01417-010- São Paulo - SP</p>
        </div>
    </div>
</footer>