<header class="site-header" role="heading">
    
    <label for="menu" class="icon-menu">
        <svg>
            <use xlink:href="#menu"/>
        </svg>
    </label>
    
    <input type="checkbox" name="menu" id="menu">

    <div class="container">

        <a class="site-title" href="{{ site.baseurl }}/">
            {% if page.title %}
                <h3>{{ site.title }}</h3>
            {% else %}
                <h1>{{ site.title }}</h1>
            {% endif %}
            <svg>
                <use xlink:href="#tray-documentacao"/>
            </svg>
        </a>
        
        
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name":"{{ site.name }}",
                "url": "{{ site.url }}",
                "logo": "{{ site.url }}/images/logo-tray-loja-de-temas.png",
                "contactPoint": [
                    {
                        "@type": "ContactPoint",
                        "telephone": "+55-18-3136-0050",
                        "contactType": "technical support",
                        "contactOption": "TollFree",
                        "areaServed": [
                            "BR"
                        ],
                        "availableLanguage": [
                            "Portuguese"
                        ]
                    }
                ],
                "sameAs": [
                    "https://www.facebook.com/traytecnologia", 
                    "https://www.linkedin.com/company/tray", 
                    "https://www.youtube.com/user/TraySistemas", 
                    "https://twitter.com/traysistemas"
                ]
            }
        </script>

        <nav class="navigation" role="navigation">
            <div role="menubar">
                <a href="#" role="menuitem">Loja de Temas</a>
                <a href="http://atendimento.tray.com.br/hc/pt-br#title-bar" role="menuitem">Suporte</a>
                <a href="http://tray.com.br" role="menuitem">Tray Commerce</a>
            </div>
        </nav>

    </div>

</header>
