<header class="site-header">

    <div class="container">


        <a class="site-title" href="{{ site.baseurl }}/">
            {% if page.title %}
                <h2>{{ site.title }}</h2>
            {% else %}
                <h1>{{ site.title }}</h1>
            {% endif %}
            
            <svg>
                <use xlink:href="/images/symbols.svg#logo"/>
            </svg>
        </a>

        <nav class="navigation">
            <a href="#">Loja de Temas</a>
            <a href="http://atendimento.tray.com.br/hc/pt-br#title-bar">Suporte</a>
            <a href="http://tray.com.br">Site Tray</a>
        </nav>

    </div>

</header>
