<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body>

    {% include header.html %} 
    
    <div class="container">
        <div class="page-content">
            <aside>
    
                <nav class="menu">
    
                    <p>Artigos</p>
    
                    {% assign sorted_posts = site.posts | sort:"order" %} {% for post in sorted_posts %}
                    <div class="item">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ forloop.index }} - {{ post.title }}</a>
                    </div>
                    {% endfor %}
                </nav>
    
            </aside>
            <section>
                <p class="section-title">Tire aqui suas dúvidas sobre seu tema</p>
                <div class="box-search">
                    <label for="search">
                        <input type="search" id="search" placeholder="Qual a sua dúvida?">
                        <button>
                            <svg>
                                <use xlink:href="/images/symbols.svg#search"/>
                            </svg>
                        </button>
                    </label>
                </div>
                <div class="box-search-result" id="search-result">
                    <div class="post-link">
                        <a href="/2015/12/31/acessar-as-costumizacoes-da-loja.html">
                            <h2>Customizador do tema</h2>
                        </a>
                        <span>Painel de customizações do seu tema</span>
                    </div>
                </div>
                {{ content }}
            </section>
        </div>
    </div>

    {% include footer.html %}

</body>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway" rel="stylesheet">
<script type="text/javascript" src="/js/search.js"></script>
</html>